<?xml version="1.0"?>
<launch>
	<arg name="frame_id" default="vectornav"/>

	<node pkg="vectornav" type="vnpub" name="vectornav" output="screen" >
      <rosparam command="load" file="$(find fumi_config)/params/drivers/vn100.yaml" />
	  <param name="frame_id" value="$(arg frame_id)"/>
	</node>	
	
</launch>


